.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
}

.App-link {
  color: #2515ff;
}

.logo {
  cursor: pointer;
}

.video-segment {
  cursor: pointer;
}

.video-segment:hover {
  background-color: whitesmoke;
}

.AppHeader {
  background-color: #fff;
  height: 210px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  z-index: 100;
}

.SmallHeader {
  background-color: #fff;
  height: 210px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  z-index: 100;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid lightgray;

  background-color: #fff;
  font-size: 16px;
  margin: 0;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
  margin-top: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-brand {
  padding: 15px;
  height: auto;
  float: left;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-brand {
  color: #777;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

body .navbar-default .navbar-collapse {
  margin: 0 0 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
  overflow: auto;
}
.navbar-collapse.in {
  overflow-y: auto;
}
.collapse.in {
  display: block;
  visibility: visible;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.collapse {
  display: none;
  visibility: hidden;
}

#menu-main-menu > li {
  position: relative;
  text-align: left;
}
.nav > li {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
  width: 100%;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
#menu-main-menu > li.current-menu-item > a {
  background: #ded6c8;
  color: #222;
}
#menu-main-menu .sub-menu li {
  display: block;
  min-width: 130px;
}
#menu-main-menu .sub-menu {
  position: relative;
  display: block;
  float: none;
  box-shadow: none;
  border: none;
  margin: 0;
  border-left: 2px solid #ddd;
  margin-left: 20px;
}
#menu-main-menu .sub-menu li a {
  text-transform: none;
}
#menu-main-menu .sub-menu li a {
  display: block;
  padding: 6px 20px;
  clear: both;
  white-space: nowrap;
}
body .navbar-default .navbar-collapse ul li a {
  padding: 10px 20px;
  width: 100%;
}
body .navbar-default .navbar-collapse ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #8c929c;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: ' ';
}
header .navbar {
  background-color: #fff;
  font-size: 16px;
  margin: 0;
}

.collapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  overflow: hidden;
  max-height: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.collapsed.is-expanded {
  overflow: hidden;
  max-height: 340px; /* approximate max height */
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.layout-content {
  padding-top: 210px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px;
}

.segment-field[data-disabled] {
  cursor: not-allowed;
}

.segment-field[disabled] {
  cursor: not-allowed;
}

.segment-field.disabled {
  cursor: not-allowed;
}

.segment-field .disabled {
  cursor: not-allowed;
}

.segment-time-field {
  width: 90px;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 16px !important;
}

.segment-time-field[disabled] {
  cursor: not-allowed;
}

.noUi-pips {
  height: 40px;
}

.noUi-target {
  margin-top: 5px !important;
}

.noUi-handle {
  background: #aaa;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -130%;
}

.videodesc {
  text-align: left;
  margin: 20px;
  background-color: #eee;
  padding: 40px;
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  white-space: pre-line;
  font-size: 12pt;
}

.ui.segment.search-bar {
  background-color: #eee;
}

.search-bar.ui.segment {
  margin-left: 230px;
  margin-right: 230px;
  padding: 10px;
  box-shadow: none;
  border-width: 0px;
}

.AppHeader .menu .item {
  padding: 0px;
}
.AppHeader .ui.menu {
  border: 0;
  box-shadow: none;
  margin-bottom: 1px;
}
.AppHeader .ui.menu .item::before {
  display: none;
}
/* .AppHeader .headerLinks {
    font-size: 14px;
    font-weight: 700;
    color: #8c929c;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 35px 15px;
    font-family: "Lato", sans-serif;
} */
.AppHeader .headerLinks a,
.AppHeader .headerLinks .divider {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #8c929c !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  padding: 35px 15px !important;
  font-family: 'Lato', sans-serif !important;
  line-height: 20px;
}
.AppHeader .ui.menu > .headerLinks.dropdown.ui.item > .menu.transition > div.item {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #8c929c !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  display: block;
  min-width: 130px;
  font-family: 'Lato', sans-serif !important;
  display: block;
  padding: 6px 20px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;
  clear: both;
  white-space: nowrap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Bold.ttf) format('ttf');
}

/* .headerLinks,
.headerLinks .divider.text {
  margin: 0px;
  padding: 25px;
  background-color: #fff;
  white-space: nowrap;
} */

/* .headerLinks a,
.headerLinks a:link,
.headerLinks a:visited {
  color: #444 !important;
} */

/* .headerLinksActive {
  margin: 0px;
  padding: 25px;
  background-color: #ded6c8;
  white-space: nowrap;
} */

/* .headerLinksActive a,
.headerLinksActive a:link,
.headerLinksActive a:visited {
  color: #444 !important; 
} */

/* .headerLinks:hover,
.headerLinksActive:hover,
.headerLinks .divider.text:hover {
  background-color: #efefef;
  font-weight: bold;
} */

/* @media screen and (max-width: 1000px) {
  .headerLinks,
  .headerLinksActive {
    width: 50px;
    padding: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .headerLinks,
  .headerLinksActive {
    width: 80px;
    padding: 25px;
    font-size: 70%;
  }
} */

.headerBreak {
  margin-top: -15px;
  background-color: rgb(69, 83, 94);
  height: 20px;
  width: 100%;
}

.footer {
  height: 50px;
  background-color: #ded6c8;
  padding: 17px;
  margin-top: 100px;
  width: 100%;
}

.vidTitle {
  text-align: left;
  background-color: #eee;
  padding: 20px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 3px;
  white-space: pre-line;
  font-size: 16pt;
  width: 640px;
  color: #666;
  margin-left: auto;
  margin-right: auto;
}

.vidHeader {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

/* react-autosuggestions */

.react-autosuggest__container {
  position: relative;
  width: 100%;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
