.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
}

.App-link {
  color: #2515ff;
}

.logo {
  cursor: pointer;
}

.video-segment {
  cursor: pointer;
}

.video-segment:hover {
  background-color: whitesmoke;
}

body {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
  padding-top: 90px;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.AppHeader {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
  padding-top: 90px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* navbar brand */
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
      margin-left: -15px;
    }
  }
  .header .navbar-brand {
    height: auto;
    padding: 15px 0;
  }
  @media (max-width: 767px) {
    .header .navbar-brand {
      padding: 15px;
    }
  }
  .navbar-default .navbar-brand {
    color: #777;
  }
  .navbar-brand > img {
    display: block;
  }
  @media (min-width: 1200px) {
    .visible-lg-block {
      display: block !important;
    }
  }
  /* menu transition */
  .navbar-collapse.collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // flex-wrap: wrap;

    overflow: hidden;
    max-height: 0;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .navbar-collapse.collapsed.is-expanded {
    overflow: auto;
    max-height: 340px; /* approximate max height */
    // overflow-y: auto;
    visibility: visible;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  // .navbar-collapse.in {
  //   overflow-y: auto;
  // }
  // .collapse.in {
  //   display: block;
  //   visibility: visible;
  // }

  /* button span */
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button,
  html input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 0;
    font: inherit;
    color: inherit;
  }
  /* button */
  .navbar-default .navbar-toggle {
    border-color: #ddd;
  }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .navbar-default .navbar-toggle {
      margin-top: 25px;
    }
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button,
  html input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button,
  select {
    text-transform: none;
  }

  button {
    overflow: visible;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 0;
    font: inherit;
    color: inherit;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  // button {
  //   appearance: button;
  //   -webkit-writing-mode: horizontal-tb !important;
  //   text-rendering: auto;
  //   color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  //   letter-spacing: normal;
  //   word-spacing: normal;
  //   text-transform: none;
  //   text-indent: 0px;
  //   text-shadow: none;
  //   display: inline-block;
  //   text-align: center;
  //   align-items: flex-start;
  //   cursor: default;
  //   background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
  //   box-sizing: border-box;
  //   margin: 0em;
  //   font: 400 13.3333px Arial;
  //   padding: 1px 6px;
  //   border-width: 2px;
  //   border-style: outset;
  //   border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  //   border-image: initial;
  // }

  /* common? */

  .clearfix:after,
  .dl-horizontal dd:after,
  .container:after,
  .container-fluid:after,
  .row:after,
  .form-horizontal .form-group:after,
  .btn-toolbar:after,
  .btn-group-vertical > .btn-group:after,
  .nav:after,
  .navbar:after,
  .navbar-header:after,
  .navbar-collapse:after,
  .pager:after,
  .panel-body:after,
  .modal-footer:after {
    clear: both;
  }
  .clearfix:before,
  .clearfix:after,
  .dl-horizontal dd:before,
  .dl-horizontal dd:after,
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after,
  .form-horizontal .form-group:before,
  .form-horizontal .form-group:after,
  .btn-toolbar:before,
  .btn-toolbar:after,
  .btn-group-vertical > .btn-group:before,
  .btn-group-vertical > .btn-group:after,
  .nav:before,
  .nav:after,
  .navbar:before,
  .navbar:after,
  .navbar-header:before,
  .navbar-header:after,
  .navbar-collapse:before,
  .navbar-collapse:after,
  .pager:before,
  .pager:after,
  .panel-body:before,
  .panel-body:after,
  .modal-footer:before,
  .modal-footer:after {
    display: table;
    content: ' ';
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* header */
  .header {
    margin-bottom: 0;
    background-color: #fff;
    position: relative;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  // body {
  //   font-size: 16px;
  //   line-height: 26px;
  //   color: #333333;
  //   font-family: 'Lato', sans-serif;
  //   text-rendering: optimizelegibility;
  //   overflow-x: hidden;
  //   padding-top: 90px;
  // }

  /* navbar */

  .navbar {
    // position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .header .navbar {
    background-color: #fff;
    font-size: 16px;
    margin: 0;
  }
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-top-color: rgb(231, 231, 231);
    border-right-color: rgb(231, 231, 231);
    border-bottom-color: rgb(231, 231, 231);
    border-left-color: rgb(231, 231, 231);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
  }
  @media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
      border-radius: 0;
    }
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 4px;
    }
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  nav {
    display: block;
  }
  // body {
  //   font-size: 16px;
  //   line-height: 26px;
  //   color: #333333;
  //   font-family: 'Lato', sans-serif;
  //   text-rendering: optimizelegibility;
  //   overflow-x: hidden;
  //   padding-top: 90px;
  // }
  // body {
  //   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  // }
  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* container */
  .header .container {
    position: relative;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  div {
    display: block;
  }

  // body {
  //   font-size: 16px;
  //   line-height: 26px;
  //   color: #333333;
  //   font-family: 'Lato', sans-serif;
  //   text-rendering: optimizelegibility;
  //   overflow-x: hidden;
  //   padding-top: 90px;
  // }

  // body {
  //   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  // }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /* navbar-header */
  @media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width: 768px) {
    .navbar-header {
      float: left;
    }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  div {
    display: block;
  }

  // body {
  //   font-size: 16px;
  //   line-height: 26px;
  //   color: #333333;
  //   font-family: 'Lato', sans-serif;
  //   text-rendering: optimizelegibility;
  //   overflow-x: hidden;
  //   padding-top: 90px;
  // }

  // body {
  //   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  // }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /* nav */
  .navbar-default .navbar-collapse {
    margin: 0 0 0;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e7e7e7;
  }
  @media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }

  // .navbar-fixed-top .navbar-collapse,
  // .navbar-fixed-bottom .navbar-collapse {
  //   max-height: 340px;
  // }
  .navbar-default .navbar-collapse {
    margin: 0 0 0;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e7e7e7;
  }
  @media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (min-width: 768px) {
    .navbar-collapse.collapse {
      display: block !important;
      // height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
      visibility: visible !important;
    }
  }
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .collapse {
    display: none;
    visibility: hidden;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  nav {
    display: block;
  }

  // body {
  //   font-size: 16px;
  //   line-height: 26px;
  //   color: #333333;
  //   font-family: 'Lato', sans-serif;
  //   text-rendering: optimizelegibility;
  //   overflow-x: hidden;
  //   padding-top: 90px;
  // }

  // body {
  //   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  // }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /* main-menu */
  @media (min-width: 768px) {
    .navbar-right {
      float: right !important;
      margin-right: -15px;
    }
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }
  @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0;
    }
  }

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  ul,
  ol {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 25px;
    padding: 0 0 0px 20px;
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 10px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /* navbar/main-menu item */
  #menu-main-menu > li {
    position: relative;
  }
  @media (min-width: 768px) {
    .navbar-nav > li {
      float: left;
    }
  }

  .nav > li {
    position: relative;
    display: block;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  ul,
  ol {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 25px;
    padding: 0 0 0px 20px;
  }
  ul {
    list-style-type: disc;
  }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* navbar/menu-item link */
  .navbar-default .navbar-collapse ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #8c929c;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 35px 15px;
  }

  .navbar-default .navbar-collapse.small-menu ul li a {
    padding: 10px 20px;
  }
  .navbar-default .navbar-collapse.medium-menu ul li a {
    padding: 35px 12px;
  }

  .small-menu {
    #menu-main-menu > li {
      text-align: left;
    }
    #menu-main-menu .sub-menu {
      position: relative;
      display: block;
      float: none;
      box-shadow: none;
      border: none;
      margin: 0;
      border-left: 2px solid #ddd;
      margin-left: 20px;
    }
    #menu-main-menu .sub-menu li a {
      text-transform: none;
    }
  }

  .navbar-default .navbar-nav > li > a {
    color: #777;
  }
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }

  a:link {
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: #0033cc;
  }

  a {
    outline: 0;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a {
    background-color: transparent;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
  li {
    text-align: -webkit-match-parent;
  }

  ul,
  ol {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 25px;
    padding: 0 0 0px 20px;
  }
  ul {
    list-style-type: disc;
  }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #menu-main-menu > li a:hover {
    background: #fafafa;
  }
  #menu-main-menu > li.current-menu-item > a {
    background: #ded6c8;
    color: #222;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
    color: #777;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
  }
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }

  a:link {
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: #0033cc;
  }

  a:hover,
  a:focus {
    color: #23527c;
    text-decoration: underline;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  /* sub-menu */
  #menu-main-menu > li:hover .sub-menu {
    display: block;
  }
  #menu-main-menu .sub-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: none;
  }

  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-bottom: 0;
  }

  ul,
  ol {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 25px;
    padding: 0 0 0px 20px;
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 10px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li {
    text-align: -webkit-match-parent;
  }

  ul {
    list-style-type: disc;
  }

  // body {
  //   font-size: 16px;
  //   line-height: 26px;
  //   color: #333333;
  //   font-family: 'Lato', sans-serif;
  //   text-rendering: optimizelegibility;
  //   overflow-x: hidden;
  //   padding-top: 90px;
  // }

  // body {
  //   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #333;
  //   background-color: #fff;
  // }

  :root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* sub-menu item */
  #menu-main-menu .sub-menu li {
    display: block;
    min-width: 130px;
  }

  /* sub-menu item link */
  #menu-main-menu .sub-menu li a {
    text-transform: uppercase;
    display: block;
    padding: 6px 20px;
    clear: both;
    white-space: nowrap;
  }

  #menu-main-menu .sub-menu li a:hover {
    text-decoration: none;
  }
}

.AppFooter {
  .footer {
    font-size: 12px;
    padding: 30px 0;
    color: #26354a;
    background: #dcd6cc;
    border-top: 1px solid #d6d0c7;
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .text-center {
    text-align: center;
  }
}

/* layout */
.layout-content {
  // padding-top: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px;
}

.segment-field[data-disabled] {
  cursor: not-allowed;
}

.segment-field[disabled] {
  cursor: not-allowed;
}

.segment-field.disabled {
  cursor: not-allowed;
}

.segment-field .disabled {
  cursor: not-allowed;
}

.segment-time-field {
  width: 90px;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 16px !important;
}

.segment-time-field[disabled] {
  cursor: not-allowed;
}

.noUi-pips {
  height: 40px;
}

.noUi-target {
  margin-top: 5px !important;
}

.noUi-handle {
  background: #aaa;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -130%;
}

.videodesc {
  text-align: left;
  margin: 20px;
  background-color: #eee;
  padding: 40px;
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  white-space: pre-line;
  font-size: 12pt;
}

.ui.segment.search-bar {
  background-color: #eee;
}

.search-bar.ui.segment {
  margin-left: 230px;
  margin-right: 230px;
  padding: 10px;
  box-shadow: none;
  border-width: 0px;
}

.headerBreak {
  margin-top: -15px;
  background-color: rgb(69, 83, 94);
  height: 20px;
  width: 100%;
}

// .footer {
//   height: 50px;
//   background-color: #ded6c8;
//   padding: 17px;
//   margin-top: 100px;
//   width: 100%;
// }

.vidTitle {
  text-align: left;
  background-color: #eee;
  padding: 20px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 3px;
  white-space: pre-line;
  font-size: 16pt;
  width: 640px;
  color: #666;
  margin-left: auto;
  margin-right: auto;
}

.vidHeader {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

/* react-autosuggestions */

.react-autosuggest__container {
  position: relative;
  width: 100%;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
