.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
}

.App-link {
  color: #2515ff;
}

.logo {
  cursor: pointer;
}

.video-segment {
  cursor: pointer;
}

.video-segment:hover {
  background-color: whitesmoke;
}

.AppHeader {
  background-color: #fff;
  height: 210px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  z-index: 100;
}

.layout-content {
  padding-top: 210px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px;
}

.segment-field[data-disabled] {
  cursor: not-allowed;
}

.segment-field[disabled] {
  cursor: not-allowed;
}

.segment-field.disabled {
  cursor: not-allowed;
}

.segment-field .disabled {
  cursor: not-allowed;
}

.segment-time-field {
  width: 90px;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 16px !important;
}

.segment-time-field[disabled] {
  cursor: not-allowed;
}

.noUi-pips {
  height: 40px;
}

.noUi-target {
  margin-top: 5px !important;
}

.noUi-handle {
  background: #aaa;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -130%;
}

.videodesc {
  text-align: left;
  margin: 20px;
  background-color: #eee;
  padding: 40px;
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  white-space: pre-line;
  font-size: 12pt;
}

.ui.segment.search-bar {
  background-color: #eee;
}

.search-bar.ui.segment {
  margin-left: 230px;
  margin-right: 230px;
  padding: 10px;
  box-shadow: none;
  border-width: 0px;
}

.headerLinks {
  float: left;
  margin: 0px;
  padding: 25px;
  background-color: #fff;
  white-space: nowrap;
}

.headerLinks a,
.headerLinks a:link,
.headerLinks a:visited {
  color: #444 !important;
}

.headerLinksActive {
  float: left;
  margin: 0px;
  padding: 25px;
  background-color: #ded6c8;
  white-space: nowrap;
}

.headerLinksActive a,
.headerLinksActive a:link,
.headerLinksActive a:visited {
  color: #444 !important;
}

.headerLinks:hover,
.headerLinksActive:hover {
  background-color: #efefef;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .headerLinks,
  .headerLinksActive {
    width: 50px;
    padding: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .headerLinks,
  .headerLinksActive {
    width: 80px;
    padding: 25px;
    font-size: 70%;
  }
}

.headerBreak {
  margin-top: -15px;
  background-color: rgb(69, 83, 94);
  height: 20px;
  width: 100%;
}

.footer {
  height: 50px;
  background-color: #ded6c8;
  padding: 17px;
  margin-top: 100px;
  width: 100%;
}

.vidTitle {
  text-align: left;
  background-color: #eee;
  padding: 20px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 3px;
  white-space: pre-line;
  font-size: 16pt;
  width: 640px;
  color: #666;
  margin-left: auto;
  margin-right: auto;
}

.vidHeader {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
